.title
{
color: red;
margin-bottom: 0px;    
text-align: center;

}

.texttitle
{ display: flex;
    margin-left:260px;
    margin-right:260px ;
    
    text-align: center;
    font-size:10px;
    color:lightskyblue;
  
}

    
.texttitle p
{flex-grow: 1;
     height: 10px;
     width: 10px;
     margin-left:105px;
    margin-right:105px;
    margin-bottom: 0px;
    text-align: left;
    
}


.text
{ display: flex;
margin-left:260px;
margin-right:260px ;

text-align: center;
font-size:10px;

}
.text p
{    flex-grow: 1;
     height: 120px;
     width: 210px;
    margin-top: 5px;
    margin-bottom: 5px;
     margin-left:105px;
    margin-right:105px;
    margin-top: 0px;
    text-align: center;
    }


.gallery
{ display: block;
margin-left:250px;
margin-right:250px ;
text-align: center;

}



.gallery img
{

    flex-grow: 1;
     height: 200px;
     width: 240px;
     margin-top: 5px;
     margin-bottom: 5px;
      margin-left:100px;
     margin-right:100px;
    text-align: center;
}




